<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
    <script src="~/Scripts/codebase/dhtmlxscheduler.js?v=20190111" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="~/Scripts/codebase/dhtmlxscheduler_material.css?v=20190111" type="text/css" charset="utf-8">
</head>
<body>
    <div class="navbar fixed-top navbar-dark navbar-primary navbar-expand logo">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="http://btp.com.br/wp-content/uploads/2017/07/Untitled-23.png">
            </a>
        </div>
    </div>
    <nav class="navbar fixed-top navbar-dark navbar-custom navbar-expand">
        <div class="clearfix"></div>
    </nav>

    @*<nav id="sidebar" class="bg-white sidebar shadow-sm">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="nav-link pl-4 pt-3 pb-0">Forecast</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link pl-4 pt-3 pb-0">Configurações</span>
                        <ul class="ml-3">
                            <li class="nav-item pt-3">
                                <span class="nav-link m-0 p-0">Grupos</span>
                            </li>
                            <li class="nav-item pt-3">
                                <span class="nav-link m-0 p-0">Parâmetros</span>
                            </li>
                            <li class="nav-item pt-3">
                                <span class="nav-link m-0 p-0">Calendário</span>
                            </li>
                            <li class="nav-item pt-3">
                                <span class="nav-link m-0 p-0">Capacity</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="~/wwwroot/lib/popper/popper.min.js"></script>
    <script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
    <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/wwwroot/lib/vue/vue.js"></script>
    <script src="~/wwwroot/js/site.js"></script>
    <script src="~/Scripts/locale_pt.js" type="text/javascript" charset="utf-8"></script>

    <main id="modelo" class="col-sm-12 main-sidebar main">
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
