@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

h3 {
    font-family: 'Poppins';
    font-size: 46px;
}

h4 {
    font-family: 'Poppins';
    color: #767676;
    font-weight: normal;    
    font-size:22px;
}

body {
    background-color: #f2f3f8;
    font-family: 'Roboto';
    font-size: 14px;
}

a {
    color: #185b9d;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover {
    color: #d94225;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn {
    font-size: 14px;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-material-icon {
    font-size: 0px;
    padding: 0.5rem 0.5rem;
}

.table thead th {
    border-top: none;    
}

.table th, .table td {
    vertical-align: middle;
    font-size: 13px;
}

.header-fixed {
    overflow-y: auto;
    width: 100vw;
    height: 75vh;
}

    .header-fixed thead th {
        box-sizing: border-box;
        position: sticky;
        top: 0;
        /*background: linear-gradient(to right, #851d4f, #185b9d);*/
        background-color: #fff;
        color: #666;
        z-index: 1;
        border-bottom: solid 1px rgba(0,0,0,.12);
        font-weight: normal;
        font-family: 'Poppins'
    }

#table-data th:first-child {
    position: sticky;
    left: 0;
    background-color: #fff;
    color: #666;
    border-bottom: none;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    font-weight: normal;
    font-family: 'Poppins';    
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #fafafa;
}

.btn-lg {
    padding: 15px 25px;
}

.badge {
    padding: 5px 10px !important;
    font-size:11px;
    border-radius:0;
}

.text-secondary {
    color: #185b9d !important;
}

.btn-secondary {
    background-color: #185b9d;
    border-color: #185b9d;
}

    .btn-secondary:hover {
        background-color: #182b9d;
        border-color: #185b9d;
    }

    .btn-secondary:active {
        background-color: #182b9d !important;
        border-color: #185b9d !important;
    }

    .link-secondary {
        color: #333;
    }
.link-secondary:hover {
    color: #185b9d;
}

    .form-control{
        border-radius: 0;
        font-size: inherit;
    }

.bg-white {
    background-color: #fff !important;
}

.navbar-custom {
    background: linear-gradient(to right, #185b9d, #43cda2);
    z-index: 3;
    margin-left: 180px;
    height: 59px;
}

.navbar-primary {
    background-color: #185b9d !important;
}

.logo {
    width: 180px;
}

/*
 * Sidebar
 */

.sidebar {
    width: 180px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 62px 0 0; /* Height of navbar */
    z-index: 1;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 62px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar .nav-link {
    color: #7d7d7d;
    cursor: pointer;
}

    .sidebar .nav-link:hover {
        color: #AA2A5B;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

.main-sidebar {
    /*padding-left: 180px; Descomentar quando houver sidebar*/
    padding-top: 120px;
}

.carregando-conteudo {
    background-color: #f3f3f3;
    background: linear-gradient(to right,#f3f3f3 5%,#eee 20%,#f3f3f3 35%);
    animation: placeholderShimmer 2s linear 0s infinite normal forwards;
    position: relative;
}

.badge-obrigatorio {
    color: #fff;
    background-color: #dc3545;
}
.numero-pontos-legenda {
    font-family: poppins;
    color: #aaa;
    font-size: 16px;
}

.checkbox-custom {
    width: 21px;
    height: 21px;
}

.checkbox-label {
    font-size: 17px;
}

.margin-navbar {
    margin-top: 59px;
}

.navbar-white {
    background-color: white !important;
}

.navbar-white a {
    color: #185b9d !important;
    font-size: 16px;
}

.fade.show {
    display: flex !important;
}

.no-navbar {
    margin-top: -50px !important;
}

.dhx_cal_event.event_navio div,
.dhx_cal_event_line.event_navio {
    background-color: #FF5722 !important;
    border-color: #732d16 !important;
}

.dhx_cal_event.dhx_cal_editor.event_navio {
    background-color: #FF5722 !important;
}

.dhx_cal_event_clear.event_navio {
    color: #FF5722 !important;
}


.dhx_cal_event.event_navio div,
.dhx_cal_event_line.event_navio {
    background-color: #FF5722 !important;
    border-color: #732d16 !important;
}

.dhx_cal_event.dhx_cal_editor.event_navio {
    background-color: #FF5722 !important;
}

.dhx_cal_event_clear.event_navio {
    color: #FF5722 !important;
}

.dhx_cal_event.event_modalidade div,
.dhx_cal_event_line.event_modalidade {
    background-color: #0FC4A7 !important;
    border-color: #698490 !important;
}

.dhx_cal_event.dhx_cal_editor.event_modalidade {
    background-color: #0FC4A7 !important;
}

.dhx_cal_event_clear.event_modalidade {
    color: #0FC4A7 !important;
}